OPENAI_API_KEY=your_api_key_here
TEXT_API_URL=https://api.modelarts-maas.com/openai/v1
TEXT_MODEL=DeepSeek-V3
VIDEO_API_URL=https://api.modelarts-maas.com/v1/video/generations
VIDEO_MODEL=Wan2.2-T2V-A14B
IMAGET_TO_VIDEO_API_URL=https://api.modelarts-maas.com/v1/video/generations
IMAGET_TO_VIDEO_MODEL=Wan2.2-I2V-A14B
